body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: #aab2b4;
  padding: 40px;
  border-radius: 22px;
  box-shadow: 0 0 0px rgba(0,0,0,0.1);
  width: 500px;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #df6a6a;
}

.checkbox-label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

#strength-bar {
  height: 8px;
  background: #3b0b0b;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#strength-text {
  font-size: 14px;
  margin-top: 8px;
}
